@media screen and (max-width: 425px) {
  div.page .woocommerce-checkout {
    margin-top: 6rem !important;
  }
}

.col2-set {
  margin-right: 0 !important;
  padding: 0 3rem !important;
}
.woocommerce-checkout .content-area {
  background-color: #ffefdb !important;
}

.woocommerce-checkout .entry-header {
  padding-bottom: 2.5rem !important;
}

.woocommerce-checkout h3 {
  color: #8e140a !important;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1pt;
}

/* .woocommerce form .form-row {
   width: 100% !important; 
  padding: 0 3rem !important; 
} */
.col2-set .form-row-first {
  width: 50% !important;
  margin-right: 0 !important;
  padding-right: 1rem !important;
}
.col2-set .form-row-last {
  width: 50% !important;
  padding-left: 1rem !important;
}
@media screen and (max-width: 425px) {
  .col2-set .form-row-first {
    width: 100% !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  .col2-set .form-row-last {
    width: 100% !important;
    padding-left: 0 !important;
  }
  #order_review {
    padding: 0 2rem !important;
  }
}

input[type='text'],
input[type='tel'],
input[type='email'] {
  border: 0.5px solid #707070 !important;
  background-color: #f2f2f2 !important;
  height: 2rem;
}
textarea {
  height: 8rem !important;
  border: 0.5px solid #707070 !important;
  background-color: #f2f2f2 !important;
}
input:focus {
  border: 1px solid #544276 !important;
}
label {
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-bottom: 0.3rem !important;
}

::placeholder {
  text-align: center;
  font-size: 0.8rem !important;
}

#order_review {
  background-color: #ffefdb !important;
  padding: 1.5rem 2rem 2rem;
}

#order_review .shop_table {
  width: 100% !important;
  height: 6rem !important;
}
table.shop_table .woocommerce-checkout-review-order-table {
  font-size: 1rem !important;
}

th.product-name,
th.product-total,
tr.cart_item,
tr.cart-subtotal,
tr.order-total {
  font-size: 0.7rem !important;
  text-transform: uppercase !important;
  letter-spacing: 1pt;
}

#payment {
  margin-top: 2rem !important;
}
#payment .payment_methods > li .payment_box,
#payment .place-order {
  width: 100% !important;

  background-color: #ffefdb !important;
  padding: 1rem 0 !important;
}

button[name='woocommerce_checkout_place_order'] {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 0.3rem 2.6rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.9rem !important;
  color: #ffefdb !important;
  letter-spacing: 1pt;
}
