@import 'variables';

footer {
  height: 35vh;
  color: $pageBackground;
  .col-full {
    max-width: 100% !important;
    padding: 2rem !important;

    @media (max-width: $mobileL) {
      margin-left: 2em;
      padding: 2rem 0 !important;
    }
    @media (max-width: $tabletL) {
      padding: 2rem 0 !important;
    }
    @media (max-width: $desktop) {
      padding: 2rem 4rem;
    }
  }
}
.f-header {
  font-family: 'Benguiat';
  font-size: 1.2rem;
  text-transform: uppercase;
  @media (max-width: $mobileL) {
    font-size: 1rem !important;
  }
}

.f-details {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 0.6rem;
  font-family: 'NeueHaasUnicaW1G-Regular' !important;
  span {
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  p {
    margin: 0.5rem 0 0 0;
    a {
      text-decoration: none !important;
    }
  }
}
