@import 'variables';

ul.woocommerce-message {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  color: $pageBackground !important;
}

ul.woocommerce-error {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  color: $pageBackground !important;
}

.woocommerce-info {
  background-color: $pageHeaderText !important;
  color: $pageBackground !important;
}
