@font-face {
  font-family: 'NeueHaasUnicaW1G-Regular';
  src: url('//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Benguiat';
  src: url('//db.onlinewebfonts.com/t/ef1bf50d9265228b632982bc37bc0171.ttf')
    format('truetype');
}

html {
  font-family: 'Benguiat', 'NeueHaasUnicaW1G-Regular';
}
@import 'variables';
@import 'nav';
// @import 'blocks';
@import 'footer';
@import 'about';
@import 'single-product';
@import 'single-post';
@import 'checkout';
@import 'cart';
@import 'woocommerce';

.home .site-header {
  margin-bottom: 0 !important;
}

.product_title {
  margin-top: 0 !important;
}
.entry-title {
  // text-align: center;
  font-size: 1.5rem;
  font-weight: $semiBold;
  color: $pageHeaderText;
  margin-top: -3.7%;
  @media (max-width: $tabletL) {
    margin-top: -6%;
  }

  @media (max-width: $mobileL) {
    margin-top: -12%;
  }
}
.page-selection {
  margin-top: -3.5rem;
  @media (max-width: $mobileL) {
    margin-top: -3.1rem;
  }
}

.content-area-bg-color {
  background-color: $pageBackground !important;
}
.content-area {
  margin-bottom: 0 !important;
}
.hentry .entry-header {
  border-bottom: none !important;
}

#main {
  padding-top: 2rem;
  margin-bottom: 0;
  @media (max-width: $mobileL) {
    // padding-top: 0 !important;
    padding-bottom: 2rem !important;
    // margin-bottom: 2rem !important;
  }
}
.site-content .col-full {
  max-width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
}

// storefront-handheld-footer-bar (icon changed to cart)
.storefront-handheld-footer-bar ul li.cart > a::before {
  content: '\f07a' !important;
}

//landing page
.cover-author {
  position: absolute;
  bottom: 57%;
  font-size: 1rem !important;
  letter-spacing: 2.5px !important;
  color: $pageBackground !important;
  text-transform: uppercase;
  @media (max-width: $mobileL) {
    bottom: 53%;
    font-size: 0.8rem !important;
    letter-spacing: 1pt !important;
  }
}
.cover-text {
  position: absolute;
  bottom: 25% !important;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4pt;
  font-weight: $bold;
  color: $coverText;
  line-height: 1.2;
  font-size: 2.875rem !important;
  @media (max-width: $mobileL) {
    bottom: 23%;
    font-size: 1.5rem !important;
    letter-spacing: 2pt !important;
  }
}

.cover-button {
  position: absolute;
  bottom: 15%;
  display: flex !important;
  justify-content: flex-start !important;
  margin-top: 2rem !important;
  .wp-block-button__link {
    text-align: center;
    font-size: 0.75rem;
    padding: 0.2rem 2.1rem;
    background-color: $frontPageButton !important;
    color: $pageBackground !important;
    font-weight: $semiBold;
    letter-spacing: 0.92;
    @media (max-width: $mobileL) {
      font-size: 0.4rem !important;
      letter-spacing: 0.5 !important;
    }
  }
}

.frontPage-link {
  /* border: 1px solid #eeeeee; */
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  a {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 0.3rem 3rem;
    text-align: center;
    background-color: $frontPageButton;
    color: $pageBackground;
    font-weight: $semiBold;
    font-size: 0.7rem;
  }
  :focus {
    border: none;
  }
  /* :hover {
      background-color: #eeeeee;
    } */
}
.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $pageBackground;
  height: 100vh;
  width: 100vw;
}
