@font-face {
  font-family: 'NeueHaasUnicaW1G-Regular';
  src: url('//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Benguiat';
  src: url('//db.onlinewebfonts.com/t/ef1bf50d9265228b632982bc37bc0171.ttf')
    format('truetype');
}

html {
  font-family: 'Benguiat', 'NeueHaasUnicaW1G-Regular';
}
@import 'variables';
@import 'nav';
@import 'blocks';
@import 'footer';

.home .site-header {
  margin-bottom: 0 !important;
}

.product_title {
  margin-top: 0 !important;
}
.entry-title {
  // text-align: center;
  font-size: 1.5rem;
  font-weight: $semiBold;
  color: $pageHeaderText;
  margin-top: -3.7%;
  @media (max-width: $tabletL) {
    margin-top: -6%;
  }

  @media (max-width: $mobileL) {
    margin-top: -12%;
  }
}
.page-selection {
  margin-top: -3.5rem;
  @media (max-width: $mobileL) {
    margin-top: -3.1rem;
  }
}

.content-area-bg-color {
  background-color: $pageBackground !important;
}
.content-area {
  margin-bottom: 0 !important;
}

.hentry .entry-header {
  margin-bottom: 0 !important;
  border-bottom: transparent !important;
  text-align: center;
}
.cat-links,
.hentry .entry-taxonomy {
  display: none !important;
}

#main {
  padding-top: 2rem;
  margin-bottom: 0;
}
.site-content .col-full {
  max-width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
}

// storefront-handheld-footer-bar (icon changed to cart)
.storefront-handheld-footer-bar ul li.cart > a::before {
  content: '\f07a' !important;
}

//About text
.about-text {
  max-width: 50%;
  text-align: left;
  font-size: $xl;
  color: $productTitle;
  letter-spacing: -0.64px;
  margin: auto;
  padding: 1rem;
  @media (max-width: $mobileL) {
    max-width: 80%;
  }
}

//single product page

body.single-product {
  .product_title {
    text-align: left !important;
    font-size: 1.5rem;
    font-weight: $semiBold;
  }
  .price {
    color: $priceText;
    // margin: 0 !important;
  }
  .woocommerce-product-details__short-description {
    padding-top: 0.5rem;
  }
  .entry-title {
    text-align: center;
  }
  .product {
    margin: 0 2rem;
    padding: 0 2rem;
    .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
      right: 2.5em !important;
    }
  }
}

// single-post

.hentry .wp-post-image {
  height: 30%;
  width: 90%;
  margin: auto;
}
.single-post-text {
  max-width: 70%;
  text-align: left;
  // font-weight: $semiBold;
  font-size: $lg;
  color: $productTitle;
  letter-spacing: -0.64px;
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;
  @media (max-width: $mobileL) {
    max-width: 80% !important;
  }
}

//landing page
.cover-author {
  position: absolute;
  bottom: 57%;
  font-size: 1.4rem !important;
  letter-spacing: 2.5px !important;
  color: $pageBackground !important;
  text-transform: uppercase;
}
.cover-text {
  position: absolute;
  bottom: 25%;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4pt;
  font-weight: $bold;
  color: $coverText;
  line-height: 1.2;
  font-size: 1.8rem;
  @media (max-width: $mobileL) {
    font-size: 0.8rem !important;
    letter-spacing: 2pt !important;
  }
}

.cover-button {
  position: absolute;
  bottom: 15%;
  display: flex !important;
  justify-content: flex-start !important;
  margin-top: 2rem !important;
  .wp-block-button__link {
    text-align: center;
    font-size: 0.75rem;
    padding: 0.2rem 2.1rem;
    background-color: $frontPageButton !important;
    color: $pageBackground !important;
    font-weight: $semiBold;
    letter-spacing: 0.92;
  }
}

.frontPage-link {
  /* border: 1px solid #eeeeee; */
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  a {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 0.3rem 3rem;
    text-align: center;
    background-color: $frontPageButton;
    color: $pageBackground;
    font-weight: $semiBold;
    font-size: 0.7rem;
  }
  :focus {
    border: none;
  }
  /* :hover {
      background-color: #eeeeee;
    } */
}
